@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0C0C0C;
    font-family: "Bitcount Single", system-ui;
    color: #EDEDED;
}

#app{
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

#contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px){
        height: 100%;
    }
}

.li:hover{
    text-shadow: 1px 1px 2px #EDEDED;
}

.my-swiper {
  /* Cambiar colores principales */
  --swiper-navigation-color: #EDEDED; /* Azul */
  --swiper-pagination-color: #EDEDED; /* Rojo */
  --swiper-navigation-size: 30px;
}

#section {
  /* Para navegadores Webkit (Chrome, Safari, Edge) */
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #1a202c;
}

#section::-webkit-scrollbar {
  width: 8px;
}

#section::-webkit-scrollbar-track {
  background: #1a202c;
  border-radius: 10px;
}

#section::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4a5568, #2d3748);
  border-radius: 10px;
  border: 1px solid #2d3748;
}

#section::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5a6578, #3d4758);
}