@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0C0C0C;
    font-family: "Bitcount Single", system-ui;
    color: #EDEDED;
}

#app{
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

#contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
    text-shadow: 1px 1px 2px #EDEDED;
}